* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /*100-900*/
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background: #1d1e27;
  color: #edf2f4;

  /* Overlay + Image */
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url('./assets/background.png');
  background-repeat: repeat;
  background-size: auto;
}

.secondary-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.7), 
    4px 4px 10px rgba(0, 0, 0, 0.5);
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  font-weight: 400;
}

.intro-container h1 {
    font-size: 2.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Intro Logo */
.growing-image {
  width: 10px;
  height: auto;
  animation: grow 4s ease-in-out forwards;
  border-radius: 12px;
}

@keyframes grow {
  0% {
    width: 10px;
    height: auto;
    opacity: 0;
  }
  100% {
    width: 800px;
    height: auto;
    opacity: 1;
  }
}

/* Choose Profile */
h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;     
  text-align: center;
}

p {
  font-size: 1.2rem;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.profiles {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.profiles img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  border: 3.5px solid transparent; 
  transition: transform 0.3s ease;
}

.profiles img:hover {
  transform: scale(1.1);
  border-color: white;
}

/* Footer */
.footer {
  margin-top: 30px;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.footer-text {
  font-size: 0.8rem;
  color: #4b4e53;
}

.footer-socials a {
  position: relative; 
  text-decoration: none;
    margin: 0 8px;
  color: #aaa;
  font-weight: 300;
  transition: color 0.3s ease;
}

.footer-socials a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 100%;
  height: 2px;
  background: #c80018;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.footer-socials a:hover {
  color: #c80018;
}

.footer-socials a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  
}

/* Skills */
.skill-section {
  margin-bottom: 50px;
}

.skill-title {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-left: 5px solid #c80018;
  padding-left: 10px;
  color: #edf2f4;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: rgba(0, 0, 0, 0.671);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(172, 0, 0, 0.568);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px crimson;
}

.icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
  width: 30px;
  display: block;      
  margin-left: auto;   
  margin-right: auto; 
}

.card-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: rgb(237, 242, 244, .9);
}

.card-desc {
  font-size: 0.95rem;
  color: #6f6e6e;
}

/* Video Card */
.video-card {
  display: inline-block;
  position: relative;
  width: auto;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin: 0px 25px 50px 0px;
  box-shadow: 0 4px 8px rgba(172, 0, 0, 0.568);
  transition: all 0.3s ease;
}

.video-preview {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  flex-shrink: 0; 
}

.video-card:hover, .featured-video-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px crimson;
  filter: brightness(1.2);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.70);
  padding: 10px 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
    text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.7), 
    4px 4px 10px rgba(0, 0, 0, 0.5);
}

.cards-grid-proj {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
}

.cards-grid-skill {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
}

.cards-grid-skill > * {
  flex: 1 1 200px;   
  max-width: 250px;  
}

/* Each card */
.cards-grid-proj > * {
  flex: 1 1 300px;   
  max-width: 350px;  
}

.overlay-featured-hover {
  position: absolute;
  inset: 0; /* fill the card */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.75);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.view-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e50914; 
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.view-link:hover {
  transform: scale(1.1);
  color: #f40612; 
}

/* Slide + fade in animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Gradient animation */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.featured-video-card {
  display: flex;
  flex-direction: column; 
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #edf2f4;
  margin: 0px 25px 50px 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(172, 0, 0, 0.568);
  transition: all 0.3s ease;
  cursor: pointer;
  width: 300px;  
  height: auto; 
}


.featured-text-section {
  flex: 1;                 
  display: flex;
  flex-direction: column;  
  justify-content: flex-start; 
  align-items: flex-start;     
  padding: 20px;
  background: black;
  border-radius: 0 0 10px 10px;
  text-align: left;
  overflow: hidden;
}

.f-card-name {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: #c80018;
  text-transform: uppercase;
  letter-spacing: 1px; 
}

.f-card-desc {
 flex: 1;
font-size: 1rem;
margin-bottom: 10px;
overflow: hidden;
text-overflow: ellipsis;
text-align: left;
color: rgba(255, 255, 255, 0.8);
line-height: 1.3;
}

.tag-buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tag {
  background: #c80018;
  padding: 4px 10px;
  font-size: 0.75rem;
  border-radius: 12px;
  font-weight: 500;
  color: rgb(237, 242, 244, .8);
  pointer-events: none; 
  user-select: none;
}

/* Not Found */
.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #141414, #e50914);
  color: white;
  text-align: center;
  overflow: hidden;
}

.notfound-title {
  font-size: 10rem;
  font-weight: 900;
  background: linear-gradient(270deg, #e50914, #b20710, #000000);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  animation: gradientShift 6s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.notfound-subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  opacity: 0.8;
}

.notfound-btn a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  background: linear-gradient(90deg, #e50914, #b20710);
  color: white;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.notfound-btn a:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 25px rgba(229, 9, 20, 0.6);
}

/* Contact */
.email-text {
  cursor: pointer;
  border: none;
  background: transparent;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.email-text:focus {
  outline: none;
}

/* Contact.css */
.notification-bar {
  position: absolute; /* follows the cursor coordinates */
  background-color: red;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  z-index: 9999;
  opacity: 0;
  animation: fadeInOut 1.5s ease-in-out forwards;
  pointer-events: none; 
}

.message-bar {
  text-align: center;
  background-color: red;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  z-index: 9999;
  opacity: 0;
  animation: fadeInOut 1.5s ease-in-out forwards;
  margin-top: 1rem;
}


.success {
  background-color: #28a745; 
}

.error {
  background-color: #dc3545; 
}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2rem;                     
  align-items: start;             
  width: 100%;
  border-radius: 15px;
  color: rgb(237, 242, 244, .90);
  margin: 2rem auto;
  padding: 3rem;
  max-width: 1000px;
  animation: fadeIn 0.8s ease-in-out;
  background-color: #000000; 
  box-shadow: 0 4px 8px rgba(172, 0, 0, 0.568);
  overflow: hidden;
}

.contact-text {
  padding: 1rem;
  border-radius: 10px;
}

.contact-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
}


.contact-text h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1.5px #c80018;
}

.contact-form {
  padding: 1rem;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
}

.contact-form label {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  display: block;
  color: #b3b3b3;
}

.contact-form input,
.contact-form textarea {
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  color: #fff;
  background: #333;
  transition: background 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  background: #444;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #a90a1c, #b20710, #000000, #221f1f, #e50914);
  background-size: 400% 400%;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.contact-form button:hover {
  animation: gradientMove 4s ease infinite;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*About*/
.about-card {
  background-color: #000000; 
   color: rgb(237, 242, 244, .90);
  border-radius: 15px;
  padding: 2rem 0 0 3rem;
  max-width: 1000px;
  margin: 2rem auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(172, 0, 0, 0.568);
  overflow: hidden;
   animation: fadeIn 0.8s ease-in-out;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.about-text {
  flex: 1;
  padding-right: 2rem;
  position: relative;
  z-index: 2;
}

.about-text h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1.5px #c80018;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
}

/* Slight overlap on image */
.about-text {
  margin-right: -150px;
}

.about-image {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}

.about-image .image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.1));
  border-radius: 12px;
}

/* Hero */
.hero-section {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 3rem;
}


.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-text {
  position: relative;
  z-index: 2; 
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px 0 60px;
   text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.7), 
    4px 4px 10px rgba(0, 0, 0, 0.5);

}

.hero-text span {
  font-size: 4.1rem;
  color: transparent;
  -webkit-text-stroke: 2px #c80018;
}

.hero-text h1 {
  font-size: 4.1rem;
  margin-bottom: .5rem;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  text-align: left;
}

.hero-text h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color:rgb(237, 242, 244, .9);
  line-height: 1.6;
  margin-bottom: 1rem;
  padding-right: 300px;
}

.break {
  display: none;
}

.heading-text {
  text-align: center;
  font-weight: 800;
  margin: 2rem auto;
  font-size: 3rem;
  color: transparent;
  -webkit-text-stroke: 2px #c80018;
}

.animated-button {
  background: rgb(255, 255, 255,.05);
  padding: 20px 40px;
  margin: 12px auto;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  color: #d4e0f7;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button:hover::before {
  opacity: 0.10;
}

.animated-button span {
  position: absolute;
}

.animated-button span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#c80018));
  background: linear-gradient(to left, rgba(8, 20, 43, 0), #c80018);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

@-webkit-keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.animated-button span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#c80018));
  background: linear-gradient(to top, rgba(8, 20, 43, 0), #c80018);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

@-webkit-keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.animated-button span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#c80018));
  background: linear-gradient(to right, rgba(8, 20, 43, 0), #c80018);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

@-webkit-keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.animated-button span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#c80018));
  background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #c80018);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

@-webkit-keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.animated-button img {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}

/*background Animations*/
.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Target the wrapper */
.recaptcha-container {
  max-width: 100%;
  display: flex;
  justify-content: left; 
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 1rem;
}


/* Responsive */
@media (max-width: 900px) {
  .hero-section {
    justify-content: center;
    text-align: center;
  }
  .hero-text {
    padding: 8rem;
    text-align: center;
    max-width: 900px;
  }
  .hero-text h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-top: .2rem;
    padding: 0;
  }
  .hero-text h2 {
    font-size: 1rem;
    text-align: center;
    padding: 0;
    text-align: center;
  }
  .break {
    display: inline;
  }
  .cards-grid-proj, .cards-grid-skill > * {
    flex: 1 1 45%; 
  }
}

@media (max-width: 768px) {
  .hero-text {
    padding: 5rem;
  }
  .cards-grid-proj, .cards-grid-skill > * {
    flex: 1 1 100%;  /* single column */
    justify-content: center;
  }

  @keyframes grow {
    0% {
      width: 10px;
      height: auto;
      opacity: 0;
    }
    100% {
      width: 350px;
      height: auto;
      opacity: 1;
    }
  }

  .container {
    padding: 20px 30px;
  }
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  .about-card {
    padding: 2rem .3rem;
  }
  .about-content {
    flex-direction: column-reverse;
  }
  .about-text {
    margin-top: -50px;
  }
  .about-image {
    width: 100%;
  }
  .about-image .image-overlay {
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.4), rgba(0,0,0,0.1));
  }
  .about-text {
    margin-right: 0;
    padding: 0 1rem 1rem 1rem; 
    text-align: center; 
  }
  .contact-container {
    grid-template-columns: 1fr; /* single column */
    padding: 2rem .3rem;
  }
  .contact-text {
    padding: 1rem;
    margin-bottom: -3rem;
  }
  .cards-grid-skill > * {
    flex: 1 1 150px;   
    max-width: 200px;  
  }
  .intro-container {
    padding: 2rem;
  }
}

@media (max-width: 576px) {
  .hero-text {
    padding: 4rem;
    text-align: center;
    max-width: 576px;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
  .featured-video-card {
    margin: 0 10px 25px 10px;
  }
  .cards-grid-skill > * {
    display: flex;
    flex-direction: column;
    max-width: 100%;  
  }
  .video-card{
    height: 100px;
    margin: 0 10px 25px 10px;
  }
  .heading-text {
    margin: 1rem auto;
    font-size: 2.5rem;
  }
  .skill-title {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .cards-grid-proj {
    margin-top: 2rem;
    justify-content: center;    
  }
 .contact-container {
   padding: 2rem .1rem;
  }
  .container {
    padding: 15px 15px;
  }
  .intro-container h1 {
    font-size: 2.3rem;
  }
}


